
html { 
  /* 10px = 62.5% */
  font-size: 62.5%; 
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.main {

}
a {
  text-decoration: none !important;
  color: black !important;
}
.grid {
    width: 100%;
    display: block;
    padding: 0;
  }
  .grid.wide {
    max-width: 1200px;
    margin: 0 auto;
  }
  .col {
    padding-left: 12px;
    padding-right: 12px;
  }
.nav-link {
  font-size: 1.6rem;
}
  .content-img {
    width: 100%;
  }

  .content-item {
    border: 1px solid #ccc;
    text-align: center;
    padding-bottom: 12px;
  }

.content-body-heading {
  color: green;
  font-size: 2.4rem;

}
.price {
  color: red;
  font-size: 1.6rem;

}
.content-footer {


}
.icon-star {


}

.icon-item {
  color: greenyellow;
}

.buy-btn{
  background: red;
  color: white !important;
  padding: 10px 24px;
  display: inline-block;
  margin-top: 10px;
}

.content-heading {
    text-align: center;
    font-size: 1.6rem;
    color: green;
    font-weight: 600;
}
.content-sub {
  text-align: center;

}